body {
    font-family: "Helvetica"
}

a {
    color: #0366d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    margin-top: 32px;
    margin-bottom: 16px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 8px;
}

#content {
    max-width: 1024px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

li {
    padding-bottom: 12px;
}
